@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 140px) {
    .text-root {
        font-size: 16px;
        --font-size-dynamic: 18px;
    }

    .text-title {
        font-size: 22px;
    }
}

@media (min-width: 768px) {
    .text-root {
        font-size: 18px;
    }

    .text-title {
        font-size: 24px;
    }
}
